.auth-shell{
    min-height:100%;
    display:grid;
    place-items:center;
    padding:48px 16px;
    background:var(--blue-700);color:#fff
}
.auth-card{
    width:100%;
    max-width:600px;
    text-align:center
}
.auth-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.brand{
    font-weight:900;
    font-size:88px;
    letter-spacing:2px;
    margin:0
}
.subtitle {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
}
.form{
    margin-top:30px;
    display:grid;
    gap:14px
}
.input.auth{
  width:100%;
  padding:18px 20px;
  border-radius:24px;
  border:2px solid #e6ecf6;
  background:transparent;
  color:#fff;
  font-size:18px;
  outline:none;
}
.button.auth{
  width:100%;
  padding:16px 18px;
  border-radius:24px;
  border:none;
  background:#fff;
  color:var(--blue-600);
  font-weight:800;
  font-size:18px;
  cursor:pointer;
}
.row-links{
    display:flex;
    justify-content:space-between;
    gap:28px;
    margin-top:12px;
    font-size:13px;
    color:#e7eefe
}
.row-links a{
    color:inherit;
    font-size: 15px;
}
.auth-card input.input {
    background-color: transparent;
    border-radius: 22px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    color :#fff;
}
.auth-card form.form {
    min-width: 65%;
    margin-top: 10%;
    width: 65%;
}
.auth-card button.button {
    border-radius: 32px;
    font-weight: 400;
    font-size: 21px;
}
.auth-shell button.button {
    padding: 12px 18px;
}
p.warnChangePass a {
    font-size: 14px;
    text-decoration: underline;
}
